################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
fkwan/custom_pyspark/__pycache__/__init__.cpython-35.pyc
fkwan/custom_custom_pyspark/__pycache__
fkwan/custom_pyspark/LTV/main.py
fkwan/custom_pyspark/LTV/push_pull.py
fkwan/custom_pyspark/LTV/validation.py
fkwan/custom_pyspark/LTV_package/__pycache__/utils.cpython-35.pyc
__pycache__/__init__.cpython-35.pyc
fkwan/custom_pyspark/.git
.vscode
fkwan/custom_pyspark/.gitignore
fkwan/custom_pyspark/LTV_package/__pycache__/__init__.cpython-35.pyc
fkwan/custom_pyspark/LTV_package/__pycache__/ltv.cpython-35.pyc
fkwan/custom_pyspark/__pycache__/udf.cpython-35.pyc
fkwan/libraries/__pycache__/__init__.cpython-35.pyc
fkwan/python/Date/__pycache__/__init__.cpython-35.pyc
fkwan/python/Date/__pycache__/Date.cpython-35.pyc
fkwan/python/__pycache__/__init__.cpython-35.pyc
fkwan/python/__pycache__/time.cpython-35.pyc
fkwan/custom_pyspark/LTV_package/validation.py
fkwan/custom_pyspark/LTV_package/push_pull.py
fkwan/custom_pyspark/LTV_package/main.py
docs/custom.css
docs/index.Rmd
docs/.RData
docs/.Rhistory
dist
fkwan.egg-info
build

