################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/fkwan/v15
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
pyspark/__pycache__/__init__.cpython-35.pyc
pyspark/__pycache__/import_files.cpython-35.pyc
pyspark/LTV/main.py
pyspark/LTV/push_pull.py
pyspark/LTV/validation.py
pyspark/LTV_package/__pycache__/utils.cpython-35.pyc
__pycache__/__init__.cpython-35.pyc
