# Default ignored files
/workspace.xml
/fkwan.iml
/misc.xml
/modules.xml
/vcs.xml
/markdown-navigator.xml
/markdown-navigator/profiles_settings.xml
..pyspark/CustomerProfiler/CustomerSegmentation_archived.py
..pyspark/CustomerProfiler/CustomerProfiler_archived.py
../libraries/test.py